<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MongoWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>DbManagementGateway</servlet-name>
    <servlet-class>mongoweb.servlets.DbManagementGateway</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CFManagementGateway</servlet-name>
    <servlet-class>mongoweb.servlets.CFManagementGateway</servlet-class>
  </servlet>  
  
 
  <servlet-mapping>
    <servlet-name>DbManagementGateway</servlet-name>
    <url-pattern>/db_management</url-pattern>
  </servlet-mapping>    
 <servlet-mapping>
    <servlet-name>CFManagementGateway</servlet-name>
    <url-pattern>/cff_mgmt</url-pattern>
  </servlet-mapping>  
</web-app>